@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif, 'Roboto';
}

a {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-family: sans-serif;
}

a:after {
  display: block;
  content: '';
  width: inherit;
  border-bottom: solid 4px #0C0367;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

a:hover:after {
  transform: scaleX(1);
}

a.from-left:after {
  transform-origin: left;
}


.btn-primary {
  @apply text-white bg-[#8F6DFF] hover:bg-[#6E48E8] border-0 rounded-full px-8 py-4 font-bold
}

.btn-secondary {
  @apply text-white bg-[#0C0367] hover:bg-[#291E97] border-0 rounded-full px-8 py-4 font-bold
}

.nav-button {
  @apply text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 ml-20
}

.btn-navbar {
  @apply bg-gradient-to-br from-blue-500 to-purple-600 hover:from-purple-500 hover:to-pink-600 text-white font-bold py-2 px-4 rounded-full shadow-lg transition duration-300 ease-in-out
}

.btn-discover {
  @apply text-white bg-[#8F6DFF] hover:bg-[##6E48E8] border-0 rounded-full px-8 py-4 font-bold
}

.btn-link {
  @apply text-white bg-[#8F6DFF] hover:bg-[#6E48E8] border-0 rounded-full px-8 py-4 font-bold
}

.text-primary {
  @apply text-3xl md:text-7xl font-bold text-[#070234]
}

.text-banner {
  @apply text-3xl md:text-7xl font-bold text-[#FFF]
}

.text-secendary {
  @apply text-4xl font-bold text-[#070234]
}

.text-third {
  @apply text-xl text-[#787C8B] my-4
}

.text-forth {
  @apply text-2xl text-[#070234] my-2
}

.text-fifth {
  @apply text-3xl font-bold text-[#070234]
}

.bgColor h1 {
  background: #cde1ff2f;
  font-size: 16px;
  margin-top: 10px;
}